@import "../../scss/variables";
@import "../../scss/mixins";
.loader {
  font-weight: bold;
  width: 100%;
  height: 100vh;
  background-color: $light-gray-opacity;
  color: black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  @include mp-reset;
  @include flex-center;
}
