@import "../../scss/variables";
.noteWrapper {
  width: 75%;
  margin: 0 auto;
  text-align: justify;
  &__button {
    border: none;
    border-radius: 4px;
    background-color: $blue;
    color: $light-gray;
    padding: 8px 16px;
    &:hover {
      cursor: pointer;
    }
  }
}
