@import "../../scss//mixins";
// https://github.com/nkbt/react-collapse#1-add-a-css-transition
.ReactCollapse--collapse {
  transition: height 750ms;
}
* {
  scroll-behavior: smooth;
}
body {
  @include mp-reset;
  box-sizing: border-box;
  text-align: center;
}
.wrapper {
  font-family: sans-serif;
  &__content {
    padding: 20px;
    min-height: 80vh;
    @include flex-center-column;
  }
}
