@import "../../scss/variables";
.header {
  background-color: $blue;
  padding: 1.5rem;
  color: $white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__content {
    margin: 0;
  }
  &__link {
    text-decoration: none;
    color: $white;
  }
}
