@import "../../scss/variables";
@import "../../scss/mixins";
.loginWrapper {
  border: 2px solid $blue;
  border-radius: 4px;
  width: 80%;
  margin: -52px auto 0;
  min-height: 400px;
  @include flex-center-column;
  &__header {
    margin-top: 0;
  }
  &__error {
    width: 100%;
    min-height: 20px;
    padding: 4px;
    color: $error-red;
    margin-top: 12px;
  }
}
.loginForm {
  @include flex-center-column;
  &__label {
    margin: 16px 0 2px;
  }
  &__input {
    border: none;
    border-bottom: 2px solid $blue;
    padding: 4px;
    &--error {
      border: 1px dashed $error-red;
      border-radius: 4px;
    }
    &:focus {
      @include input-focus;
    }
  }
  &__error {
    margin: 4px;
    color: $error-red;
    font-size: 12px;
    height: 12px;
  }
  &__button {
    border: none;
    background-color: $blue;
    border-radius: 4px;
    color: $white;
    padding: 8px 12px;
    min-width: 70px;
    margin-top: 24px;
    &:hover {
      cursor: pointer;
    }
  }
}

// media-queries

@media (min-width: $md) {
  .loginWrapper {
    width: 50%;
  }
}

@media (min-width: $xl) {
  .loginWrapper {
    width: 30%;
  }
}
