@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin mp-reset {
  margin: 0;
  padding: 0;
}
@mixin flex-center-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
