@import "../../scss/variables";
.noteForm {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 300px;
  width: 75%;
  margin: 0 auto;
  padding: 16px;
  border: 2px solid $blue;
  border-radius: 4px;
  &__inputWrapper {
    margin: 12px;
  }
  &__label {
    display: block;
  }
  &__input {
    border: none;
    border-bottom: 2px solid $blue;
    padding: 4px;
    &:focus {
      outline: none;
      border: 1px dashed $blue;
      border-radius: 4px;
    }
  }
  &__textarea {
    border: none;
    border: 1px solid $blue;
    border-radius: 4px;
    padding: 4px;
    width: 400px;
    height: 230px;
    resize: none;
    &:focus {
      outline: none;
      border: 1px dashed $blue;
    }
  }
  &__button {
    border: none;
    background-color: $blue;
    border-radius: 4px;
    color: $white;
    padding: 8px 12px;
    min-width: 70px;
    margin-top: 24px;
    &:hover {
      cursor: pointer;
    }
  }
}

// media-queries

@media (min-width: $lg) {
  .noteForm {
    width: 50%;
  }
}
